{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-6">
        <form action="" method="post" enctype='multipart/form-data'>
            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                <div>
                    <span class="btn btn-raised btn-round btn-default btn-file">
                        <span class="fileinput-new">选择Xmind文件</span>
                        <input type="file" name="xmind"/>
                    </span>
                </div>
            </div>
            <button type="submit" class="btn btn-info">Transfer</button>
        </form>
    </div>
</div>
{% endblock %}